$ A \cap B$

In [7]:
Omega={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
A = {2,4,6,8,10}
B ={3, 8, 11,12}
C ={2, 3,6,8, 9, 11}
A & B  #Meaning common elements between A and B , #∩  symbol used to show intersection
intersect = A & B
print (intersect)

{8}

$ A \cup C$

In [9]:
A.union(C) #The union of two sets A and C is the set of all elements that are in A, or in C, or in both.
union = A.union(C)
print (union)

{2, 3, 4, 6, 8, 9, 10, 11}

A
c

In [10]:
Omega = set(range(1, 13))  # Ω = {1, 2, ..., 12}
A = {2, 4, 6, 8, 10}

# Complement of A (elements in Omega but not in A)
A_complement = Omega - A

print("Complement of A (Omega - A):", A_complement)

Complement of A (Omega - A): {1, 3, 5, 7, 9, 11, 12}

Bᶜ

In [11]:
Omega = set(range(1, 13))  # Ω = {1, 2, ..., 12}
B = {3, 8, 11, 12}

# Complement of B (elements in Omega but not in B)
B_complement = Omega - B

print("Complement of B (Omega - B):", B_complement)

Complement of B (Omega - B): {1, 2, 4, 5, 6, 7, 9, 10}

(
A
∪
B
)
c

In [ ]:
Omega-(A | B) #Meaning complement of the union. #Union in this case is denoted by the operator (|)
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
Omega = set(range(1, 13))  # Ω = {1 to 12}
print("Complement of (A ∪ B):", Omega - (A | B))

Complement of (A ∪ B): {1, 5, 9, 7}

(
A
∪
B
)
c

In [29]:
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
Omega = set(range(1, 13))  # Ω = {1 to 12}
Omega-(A.union (B))
#Union in this case is denoted by the operator (.union)

print("Complement of (A ∪ B):", Omega - A.union(B))

Complement of (A ∪ B): {1, 5, 9, 7}

B
∩
C
′

In [32]:
#This is the intersection of set B with the **complement of set C`. #Intersection is denoted by (&)
B = {3, 8, 11, 12}
C = {2, 3, 6, 8, 9, 11}
Omega = set(range(1, 13))  # Ω = {1 to 12}
Omega-(B & (C))

{1, 2, 4, 5, 6, 7, 9, 10, 12}

A
∖
B

In [15]:
#This is the relative complement or difference of B from A #It is denoted by the operator {-}
# This means we take all elements in A and remove any that are also in B.
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}

relative_complement = A - B
print("Relative complement (A - B):", relative_complement)

Relative complement (A - B): {2, 10, 4, 6}

C
∖
(
B
∖
A
)

In [17]:
#Remove from C any elements that are in B but not in A. #Set operator used is {-}
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
C = {2, 3, 6, 8, 9, 11}
relative_complement_nested = C - (B - A)

print("Relative complement (C - (B - A)):", relative_complement_nested)

Relative complement (C - (B - A)): {8, 9, 2, 6}

(
C
∩
A
)
∪
(
C
∖
B
)

In [18]:
# This is the union of two sets:
# (C ∩ A): Elements that are in both C and A (intersection)
# (C \ B): Elements that are in C but not in B (difference)
# We then take the union of those two results.

A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
C = {2, 3, 6, 8, 9, 11}

# Perform the union of (C ∩ A) and (C \ B)
result = (C & A) | (C - B)

# Print the result
print("Union of (C ∩ A) and (C \\ B):", result)

Union of (C ∩ A) and (C \ B): {2, 6, 8, 9}

In [28]:
#Verify the union of elements intersection of sets A and C and the relative complement of sets C and B
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
C = {2, 3, 6, 8, 9, 11}

#union of (C ∩ A) and (C \ B)
result = (C & A) | (C - B)

# (C ∩ A) = {2, 6, 8}
# (C \ B) = {2, 6, 9}
# Union = {2, 6, 8, 9}
print("Union of (C ∩ A) and (C \\ B):", result)
print(result == {2, 6, 8, 9})  # True if the result is correct

Union of (C ∩ A) and (C \ B): {2, 6, 8, 9}
True

Verfy answers

In [11]:
#Verify the Intersections of sets A and B
intersect == {8} # True if the intersection is correct

True

In [15]:
#Verify the union of sets A and C
union = A.union(C)
print(union == {2, 3, 4, 6, 8, 9, 10, 11}) # True if the union is correct

True

In [19]:
#Verify A^C
Omega = set(range(1, 13))  # Ω = {1, 2, ..., 12}
A = {2, 4, 6, 8, 10}
complement_A = Omega - A
print(complement_A == {1, 3, 5, 7, 9, 11, 12})  # True if the complement is correct

True

In [23]:
#Verify B^C
Omega = set(range(1, 13))  # Ω = {1, 2, ..., 12}
B = {3, 8, 11, 12}
complement_B= Omega - B
print(complement_B == {1, 2, 4, 5, 6, 7, 9, 10})  # True if the complement is correct

True

In [25]:
#Verify the complement of the union of sets A and B
Omega = set(range(1, 13))         # Ω = {1, 2, ..., 12}
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
union_AB = A | B                  # A ∪ B = {2, 3, 4, 6, 8, 10, 11, 12}
complement_union = Omega - union_AB
print(complement_union == {1, 5, 7, 9})  # True if the complement of the union is correct

True

In [31]:
#Verify intersection of B with the complement of C
B = {3, 8, 11, 12}
C = {2, 3, 6, 8, 9, 11}
Omega = set(range(1, 13))  # {1, 2, ..., 12}
Omega - (B & C)  # Remove intersection of B and C from Omega


print(Omega - (B & C) == {1, 2, 4, 5, 6, 7, 9, 10, 12})  #True if the intersection of B with the complement of C is correct.

True

In [26]:

#Verify the relative complement of the difference in sets A and B
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
relative_complement = A - B
#A - B = {2, 4, 6, 10}
print(relative_complement == {2, 4, 6, 10})  # True if the relative complement is correct

True

In [27]:
#Verify the nested relative complement in sets A , B and C
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
C = {2, 3, 6, 8, 9, 11}
relative_complement_nested = C - (B - A)

# C - (B - A) = C - {3, 11, 12} = {2, 6, 8, 9}
print(relative_complement_nested == {2, 6, 8, 9})  # True if the nested relative complement is correct

True

####The Inclusion Exclusion Principle

In [16]:
# Define your sets A, B, and C
A = {2, 4, 6, 8, 10}
B = {3, 8, 11, 12}
C = {2, 3, 6, 8, 9, 11}

# Left-hand side: cardinality of union of all three
left_hand_eq = len(A.union(B).union(C))
print(left_hand_eq)  # Output: should be the total number of unique elements

9

In [17]:
# Right-hand side: inclusion-exclusion principle calculation
right_hand_eq = (
    len(A) + len(B) + len(C)
    - len(A.intersection(B))
    - len(A.intersection(C))
    - len(B.intersection(C))
    + len(A.intersection(B).intersection(C))
)
print(right_hand_eq)

9

In [18]:
# Compare both sides
print(left_hand_eq == right_hand_eq)  # Should print True

True

 ####Python Set Operations for Mary, Nina, and Eve

In [19]:
#Eve’s turtle passed away
Eve = set(["Rabbit", "Turtle", "Goldfish"])
Eve.discard("Turtle")
print(Eve)  # {'Rabbit', 'Goldfish'}

{'Rabbit', 'Goldfish'}

In [20]:
#Nina takes care of Mary's pets too
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])

Nina.update(Mary)
print(Nina)
# {'Chicken', 'Horse', 'Chinchilla', 'Parrot', 'Rabbit', 'Donkey', 'Dog', 'Cat', 'Goldfish'}

{'Goldfish', 'Chicken', 'Cat', 'Rabbit', 'Dog', 'Chinchilla', 'Parrot', 'Horse', 'Donkey'}

In [21]:
#Mary clears her list
Mary.clear()
print(Mary)  # set()

set()

In [22]:
# Count how many pets Nina has
n_species_Nina = len(Nina)
print(n_species_Nina)  # 9

9

In [23]:
#Eve takes care of common pets (intersection)
Nina.difference_update(Nina.intersection(Eve))
print(Nina)  # 7 species now

{'Chicken', 'Cat', 'Dog', 'Chinchilla', 'Parrot', 'Horse', 'Donkey'}

In [24]:
import pandas as pd

In [30]:
europe = pd.read_excel(r"C:\Users\Admin\Desktop\Data Science\Europe_and_EU.xlsx", sheet_name="Europe")
eu = pd.read_excel(r"C:\Users\Admin\Desktop\Data Science\Europe_and_EU.xlsx", sheet_name="EU")

In [28]:
eu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            28 non-null     int64
 1   Country                         28 non-null     object
 2   2017 population                 28 non-null     int64
 3   % of pop.                       28 non-null     float64
 4   Average relative annual growth  28 non-null     float64
 5   Average absolute annual growth  28 non-null     int64
 6   Official figure                 28 non-null     int64
 7   Date of last figure             28 non-null     datetime64[ns]
 8   Source                          28 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 2.1+ KB

In [31]:
print(europe.columns)
print(eu.columns)

Index(['Rank', 'Country', 'Population', '% of population',
       'Average relative annual growth (%)', 'Average absolute annual growth',
       'Estimated doubling time (Years)', 'Official figure (where available)',
       'Date of last figure', 'Regional grouping', 'Source'],
      dtype='object')
Index(['Rank', 'Country', '2017 population', '% of pop.',
       'Average relative annual growth', 'Average absolute annual growth',
       'Official figure', 'Date of last figure', 'Source'],
      dtype='object')

In [32]:
europe["Country"] = europe["Country"].str.strip()
eu["Country"] = eu["Country"].str.strip()

In [33]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [34]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [35]:
europe_set = set(europe["Country"])
eu_set = set(eu["Country"])

In [37]:
is_subset = eu_set.issubset(europe_set)
print(is_subset)

True

In [39]:
none_eu = europe_set - eu_set
print (none_eu)

{'Jersey (UK)', 'Svalbard (Norway)', 'Azerbaijan', 'Liechtenstein', 'Monaco', 'Vatican City', 'Russia', 'Andorra', 'Switzerland', 'Belarus', 'Guernsey (UK)', 'Georgia', 'Moldova', 'Isle of Man (UK)', 'Åland Islands (Finland)', 'Turkey', 'Bosnia and Herzegovina', 'Kosovo', 'Macedonia', 'Albania', 'Armenia', 'San Marino', 'Ukraine', 'Serbia', 'Montenegro', 'Faroe Islands (Denmark)', 'Gibraltar (UK)', 'Norway', 'Iceland'}